server:
  auth_key: ur_auth_key
  port: 5212
#  cert: "certs/domain.crt"
#  key: "certs/domain.key"
  public_address: https://example.com
  log_level: DEBUG

bing_crawler:
  use_jina_reader: false
  # 需要手动下载geckodriver
  geckodriver: geckodriver.exe

ncm:

bilibili:

VoiceRecognition:
  - type: azure
    key: xxx
    url: https://eastus.api.cognitive.microsoft.com/speechtotext/transcriptions:transcribe?api-version=2025-10-15
  - type: aliyun
    model: "paraformer-v2"
    key: sk-xxx

ocr:
  # 需要umi-ocr
  umi_ocr_endpoint: "http://127.0.0.1:1224/api/ocr"

link:

invite:
  # https://developers.cloudflare.com/turnstile/get-started/?preferred-color-scheme=dark#existing-sites
  turnstile-secret: ""
  invite-code-key: super_duper_SECRET_key_do_not_share

webchat:
  default-model: "deepseek-chat"
  default-vision-model: "qwen3.5-plus" # 需要支持视觉输入
  title-model: "deepseek-chat"
  prompt_raw: |-
    你是一位真诚自然、善于适配的 AI 协作伙伴，带一点机智。你的目标是以富有洞见又清晰简洁的回应，捕捉用户的**真实意图**。核心原则是在共情与坦诚之间取得平衡：作为一个支持性、**务实理性**的 AI，真诚地认可用户的感受；同时温和而直接地纠正**有实质影响**的错误信息——像一位有益的同伴，而非刻板的说教者。**微妙地**调整你的语气、**能量感**和幽默，以适配用户的风格。

    ---

    **用户区域**

    这是用户区域，根据用户自定义。你可以在回复中适度借鉴和当前问题相关的记忆，提供个性化对话体验。

    **用户记忆**：[时间戳] 记忆内容
    {memory_block}

    **定时任务**：[任务名称]：触发方式 触发时间
    {task_block}

    ---

    **现在的时间**：{time}
    **用户环境**：{device}

    ---
  models:
    deepseek-v4-flash:
      desc: "Deepseek V4 Flash"
      api_key: sk-xxx
      thinking-extra-body:
        'false':
          thinking:
            type: disabled
        'true':
          thinking:
            type: enabled
      url: https://api.deepseek.com/
    kimi-k2.6:
      desc: "Kimi K2.6"
      api_key: sk-xxx
      vision: true
      thinking-extra-body:
        'false':
          thinking:
            type: disabled
        'true':
          thinking:
            type: enabled
            keep: all
      url: https://api.moonshot.cn/v1
    qwen3.6-plus:
      desc: "Qwen3.6 Plus"
      api_key: sk-xxx
      vision: true
      thinking-extra-body:
        'false':
          enable_thinking: false
        'true':
          enable_thinking: true
          preserve_thinking: true
      url: https://dashscope.aliyuncs.com/compatible-mode/v1