@import "tailwindcss";

:root {
    --bg-main: #FFFFFF;
    --bg-panel: #F8F8F8;
    --bg-hover: #F2F2F2;
    --bg-active: #E8E8E8;
    --text-main: #3B3B3B;
    --text-muted: #616161;
    --text-placeholder: #767676;
    --border-color: #E5E5E5;
    --border-input: #CECECE;
    --primary: #005FB8;
    --primary-hover: #0258A8;
    --primary-text: #FFFFFF;
    --danger: #F85149;
    --btn-secondary-bg: #E5E5E5;
    --btn-secondary-text: #3B3B3B;
    --code-bg: #F8F8F8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-main: #1F1F1F;
        --bg-panel: #181818;
        --bg-hover: #2B2B2B;
        --bg-active: #313131;
        --text-main: #CCCCCC;
        --text-muted: #868686;
        --text-placeholder: #989898;
        --border-color: #2B2B2B;
        --border-input: #3C3C3C;
        --primary: #0078D4;
        --primary-hover: #026EC1;
        --primary-text: #FFFFFF;
        --danger: #F85149;
        --btn-secondary-bg: #313131;
        --btn-secondary-text: #CCCCCC;
        --code-bg: #2B2B2B;
    }
}

@theme {
  --radius-md: 6px;
  --radius-lg: 8px;

  --color-bg-main: var(--bg-main);
  --color-bg-panel: var(--bg-panel);
  --color-bg-hover: var(--bg-hover);
  --color-bg-active: var(--bg-active);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-text-placeholder: var(--text-placeholder);
  --color-border-main: var(--border-color);
  --color-border-input: var(--border-input);
  --color-primary-main: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-text: var(--primary-text);
  --color-danger-main: var(--danger);
  --color-btn-secondary-bg: var(--btn-secondary-bg);
  --color-btn-secondary-text: var(--btn-secondary-text);
  --color-code-bg: var(--code-bg);
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border-input);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-placeholder);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--border-input) transparent;
}

.layout-transition {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  @apply bg-bg-main text-text-main transition-colors duration-300;
}